<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Permiso</title>
</head>
<body>
  	<div th:replace="~{/parcial/Header :: header}"></div>
    	<div class="container">
        <br>
        <h1 class="h3 mb-3 font-weight-normal"><em>Permiso Periodo</em></h1>
        <hr>
        <div class="row">
            <br>
            <div class="col-md-6">
                <p class="h5">Fecha del permiso: <span class="lead" th:text="*{permiso.fecha}"/></p>
            </div>
            <div class="col-md-3">
                <p class="h5">Cantidad de dias: <span class="lead" th:text="*{permiso.cantDias}"/></p>
            </div>
            <div class="col-md-3">
				<p class="h5">Estara de vaciones? <span class="lead" th:text="${permiso.vacaciones} ? 'Si' : 'No'"/></p>
            </div>
        </div>
		<div th:each="lugar, iterador : ${permiso.getDesdeHasta()}">
			<h3 class="h3 mb-3 font-weight-normal" th:if="${iterador.index == 0}" >Desde:</h3>
			<h3 class="h3 mb-3 font-weight-normal" th:if="${iterador.index == 1}" >Hasta:</h3>
			<div class="row">
				<br>
	            <div class="col-md-6">
	              <p class="h5">Lugar: <span class="lead" th:text="${lugar.getLugar()}"/></p>
	            </div>
	            <div class="col-md-6">
	              <p class="h5">Codigo Postal: <span class="lead" th:text="${lugar.getCodPostal()}"/></p>
	            </div>
			</div>
		</div>
        <hr>
        <h3 class="h3 mb-3 font-weight-normal">Datos de la persona:</h3>
        <div class="row">
            <br>
            <div class="col-md-4">
              	<p class="h5">Nombre: <span class="lead" th:text="*{permiso.pedido.nombre}"/></p>
            </div>
            <div class="col-md-4">
              	<p class="h5">Apellido: <span class="lead" th:text="*{permiso.pedido.apellido}"/></p>
            </div>
            <div class="col-md-4">
                <p class="h5">DNI: <span class="lead" th:text="*{permiso.pedido.dni}"/></p>
            </div>
        </div>
        <hr>
        <h3 class="h3 mb-3 font-weight-normal">Datos del Rodado:</h3>
        <div class="row">
            <br>
            <div class="col-md-6">
              <p class="h5">Dominio : <span  class="lead" th:text="*{permiso.rodado.dominio}"/></p>
            </div>
            <div class="col-md-6">
              <p class="h5">Vehiculo: <span class="lead" th:text="*{permiso.rodado.vehiculo}"/></p>
            </div>
        </div>
        <hr>
        <a class="btn btn-sm btn-outline-secondary btn-block" type="submit" th:href="@{/permiso/}">Volver</a>

        <br>
      </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>