<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e15e8c34af.js" crossorigin="anonymous"></script>
    <title>Permiso</title>
</head>
<body>
   <div th:replace="~{/parcial/Header :: header}"></div>
      <div class="container" th:with="esPeriodo = ${action == 'Periodo'}">
        <br>
      	<div th:if="${!aviso.isBlank}" class="alert alert-warning alert-dismissible fade show">
      		<p th:text="${aviso}" style="margin:0px"></p>
		   	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    	<span aria-hidden="true">&times;</span>
		  	</button>
      	</div>
        <form action="#" th:action="${esPeriodo} ? @{/permiso/periodo/crear} : @{/permiso/diario/crear}" th:object="${permiso}" method="post" autocomplete="on">
            <h1 class="h3 mb-3 font-weight-normal"><em>Nuevo Permiso</em></h1>
            <hr>
            <h3 class="h3 mb-3 font-weight-normal">Datos del permiso:</h3>
            <div class="form-row">
                <br>
                <div class="form-group col-md-6">
                    <label>Fecha del permiso:</label>
                    <input type="date" class="form-control" placeholder="fecha" th:field="*{fecha}" id="inputFecha" required>
                </div>
                <div class="form-group col-md-3" th:if="${esPeriodo}">
                    <label >Cantidad de días:</label>
                    <input type="number" class="form-control" th:field="*{cantDias}" min="1" value="1" required>
                </div>
                <div class="form-group col-md-3" th:if="${esPeriodo}">
                    <label for="preguntaVaciones">Estará de vaciones?</label>
                    <select class="form-control" aria-placeholder="Vaciones..." id="preguntaVaciones" th:field="*{vacaciones}" required>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                      </select>
                </div>
            </div>
			<p class="h4">Desde...</p>
            <div class="form-row">
                <br>
                <div class="form-group col-md-6">
                   <label >Lugar:</label>
                  <input type="text" class="form-control" placeholder="lugar desde" name="desdeLugar" required>
                </div>
                <div class="form-group col-md-6">
                   <label >Código:                 	
                		<i class="fas fa-info-circle" title="Cuidado cuando ingrese el codigo postal, si ingresa uno que ya existe en nuestra base de datos sus datos seran reemplazados por los del codigo ingresado."></i>
                	</label>
                    <input type="text" class="form-control" placeholder="código postal" name="desdeCodPostal" minlength="4" maxlength="4" required>
                </div>
            </div>
            <p class="h4">Hasta...</p>
            <div class="form-row">
                <br>
                <div class="form-group col-md-6">
                   <label >Lugar:</label>
                  <input type="text" class="form-control" placeholder="lugar desde" name="hastaLugar" required>
                </div>
                <div class="form-group col-md-6">
                   <label >Código:                 	
                		<i class="fas fa-info-circle" title="Cuidado cuando ingrese el código postal, si ingresa uno que ya existe en nuestra base de datos sus datos seran reemplazados por los del codigo ingresado."></i>
                	</label>
                    <input type="text" class="form-control" placeholder="codigo postal" name="hastaCodPostal" minlength="4" maxlength="4" required>
                </div>
            </div>
            <hr>
            <h3 class="h3 mb-3 font-weight-normal">Datos de la persona:</h3>
            <div class="form-row">
                <br>
                <div class="form-group col-md-4">
                	<label >Nombre:</label>
                  	<input type="text" class="form-control" placeholder="Nombre" required th:field="*{pedido.nombre}">
                </div>
                <div class="form-group col-md-4">
                	<label >Apellido:</label>
                  	<input type="text" class="form-control" placeholder="Apellido" required th:field="*{pedido.apellido}">
                </div>
                <div class="form-group col-md-4">
                	<label >DNI:                 	
                		<i class="fas fa-info-circle" title="Cuidado cuando ingrese su dni, si ingresa uno que ya existe en nuestra base de datos sus datos seran reemplazados por los del dni ingresado."></i>
                	</label>
                    <input type="number" class="form-control" placeholder="1111111" min="1111111" max="99999999" required th:field="*{pedido.dni}">

                </div>
                <input type="hidden" id="idPersona" th:field="*{pedido.idPersona}"/>
            </div>
            <hr>
            <div th:if="${esPeriodo}">
            <h3 class="h3 mb-3 font-weight-normal">Datos del Rodado:</h3>
            <div class="form-row">
                <br>
                <div class="form-group col-md-6">
                	<label >Dominio:                 	
                		<i class="fas fa-info-circle" title="Cuidado cuando ingrese su dominio, si ingresa uno que ya existe en nuestra base de datos sus datos seran reemplazados por los del dominio ingresado."></i>
               		</label>
                  <input type="text" class="form-control" placeholder="dominio" required th:field="*{rodado.dominio}">
                </div>
                <div class="form-group col-md-6">
                <label >Vehículo:</label>
                  <input type="text" class="form-control" placeholder="vehiculo" required th:field="*{rodado.vehiculo}">
                </div>
                <input type="hidden" id="idRodado" th:field="*{rodado.idRodado}"/>
            </div>
            </div>
            <div th:if="${!esPeriodo}">
            <h3 class="h3 mb-3 font-weight-normal">Motivo del permiso:</h3>
            <div class="form-row">
                <br>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="motivo..." required th:field="*{motivo}">
                </div>
            </div>
            </div>
            <hr>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>
            <br>
            <a class="btn btn-sm btn-outline-secondary btn-block" type="submit" th:href="@{/permiso/}">Volver</a>
        </form>
        <br>
      </div>
    
    <script>
    window.onload = () => {
		inputFecha = document.getElementById("inputFecha");
		console.log(Date.now())
		inputFecha.min = Date.now();
		console.log(inputFecha.min )
	};
    </script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>