<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../home/styles.css">
    <title>Actualizar</title>
</head>
<body>
	<div th:replace="~{/parcial/Header :: header}"></div>
    <!-- Page Content -->
    <div class="container">
    	<div  class="abs-center">
            <form class="form-signin form" th:action="${perfilActualizar}" th:object="${perfil}" method="post">
    		<input type="hidden" th:field="*{idPerfil}" />
            </br>
                <h1 class="h3 mb-3 font-weight-normal">Perfil:</h1>
                <p>
                    Nombre: <input type="text" th:field="*{nombre}" class="form-control" required>
                </p>
                <p>
                    Descripción: <input type="text" th:field="*{descripcion}" class="form-control" required>
                </p>
                <div th:if="${error != null}" th:text="${error}" class="alert alert-danger"></div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Actualizar</button>
            </form>
          </div>
		<br>
		<a class="btn btn-secondary btn-sm btn-block" th:href="@{/admin/perfiles}">Listado de perfiles</a>
      </div>
      <!-- /.container -->

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>