<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <title>Admin - Usuarios</title>
</head>
<body>
	<div th:replace="~{/parcial/Header :: header}"></div>
	<!-- Page Content -->
    	<div class="container">
	        <h1>Usuarios</h1>
	        <h2>Admin: @ <span th:text="${usuarioActual.nombreUsuario}"/></h2>
	       	<div th:if="${eliminado == true}" class="alert alert-success alert-dismissible fade show">
			    Usuario eliminado correctamente.
			   	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
			</div>
			<div th:if="${errorUsuario == true}" class="alert alert-danger alert-dismissible fade show">
		    	El usuario no pudo agregarse/actualizarse debido a que su dni o usuario existen.
		    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
			</div>
	        <div class="table-responsive">
		        </br>
	            <table class="table">
	                <thead class="thead-dark">
	                    <tr>
	                    	<th scope="col">Id</th>
	                        <th scope="col">Nombre</th>
	                        <th scope="col">Apellido</th>
	                        <th scope="col">Tipo doc</th>
	                        <th scope="col">documento</th>
	                        <th scope="col">email</th>
	                        <th scope="col">Nombre Usuario</th>
	                        <th scope="col">Perfil</th>
	                        <th scope="col" colspan="2"><a class="btn btn-success" th:href="@{/admin/usuario/nuevo}">Nuevo Usuario</a></th>
	                    </tr>
	                </thead>
	                <tbody>
						<tr th:each="usuario : ${listaUsuarios}">
							<td><span th:text="${usuario.idUsuario}" /></td>
							<td><span th:text="${usuario.nombre}" /></td>
							<td><span th:text="${usuario.apellido}" /></td>
							<td><span th:text="${usuario.tipoDoc}" /></td>
							<td><span th:text="${usuario.documento}" /></td>
							<td><span th:text="${usuario.email}" /></td>
							<td><span th:text="${usuario.nombreUsuario}" /></td>
							<td><span th:text="${usuario.getPerfil().getNombre()}" /></td>
							
							<span th:if="${usuarioActual.idUsuario != usuario.IdUsuario}">
								<td><a class="btn btn-outline-primary btn-sm" th:href="@{/admin/usuario/{id}(id=${usuario.idUsuario})}">
										Actualizar
									</a></td>
		                        <td><a class="btn btn-outline-danger btn-sm" th:href="@{/admin/usuario/eliminar/{id}(id=${usuario.idUsuario})}">
		                        	Eliminar
		                        </a></td>
		                     </span>
	                        <span th:if="${usuarioActual.idUsuario == usuario.IdUsuario}">
								<td><button class="btn btn-outline-primary btn-sm" disabled>
										Actualizar
									</a></td>
		                        <td><button class="btn btn-outline-danger btn-sm" disabled >
		                        	Eliminar
		                        </a></td>
		                     </span>
						</tr>
	                </tbody>
	            </table>
	        </div>  
    		</br>
            <a class="btn btn-secondary btn-sm btn-block" th:href="@{/admin/}">Volver</a>    
        </div>
        
      <!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>