<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>LOG IN</title>
</head>
<body>
	<div th:replace="~{/parcial/Header :: header}"></div>
      <!-- Page Content -->
      <div class="container">
  		<h1>Bienvenido</h1>
        <span th:if="${perfil == 'ROLE_ANONYMOUS'}">
           <h3>Para empezar debe iniciar sesion (arriba a la derecha)...</h3>      
        </span>
        <br />
       	<span th:if="${perfil != 'ROLE_ANONYMOUS'}">
           <h3>Debe tocar el boton de arriba a la derecha para ver las acciones que tiene disponibles...</h3>     
           <a class="btn btn-outline-dark btn-lg" th:href="@{/logout}">Cerrar sesion</a> 
        </span>
        <hr>
        <br>
        <p class="h3">Acciones con los permisos:</p>
		<a class="btn btn-info btn-lg" th:href="@{/permiso/}">Sacar un nuevo permiso</a>
		<br>
		<a class="btn btn-info btn-lg mt-4" th:href="@{/permiso/buscarPorPersona}">Permisos por persona</a>
      </div>
      <!-- /.container -->

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>