<!DOCTYPE html>
<html>
    <head> </head>
    <body>
        <div th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
                <div class="container">
                    <a class="navbar-brand" href="/">GrupoDos</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li sec:authorize="isAnonymous()" class="nav-item">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li sec:authorize="isAnonymous()" class="nav-item">
                                <a class="nav-link" th:href="@{/login}">Iniciar Sesion</a>
                            </li>
                            <li sec:authorize="hasAuthority('AUDITOR')" class="nav-item">
                                <a class="nav-link" th:href="@{/auditor/}">Auditor</a>
                            </li>
                            <li sec:authorize="hasAuthority('ADMINISTRADOR')" class="nav-item">
                                <a class="nav-link" th:href="@{/admin/}">Admin</a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">Cerrar sesion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>